<%- include('partials/head') %>
        <h1>List of Available Plants </h1>

    <ol>
        <% for (let p of plantList) { %>
         <li>  <%= p.Genus %> - <%= p.Plant %> </li>
        <% } %>
    </ol>
    </main>

</body>
</html>