<%- include('partials/head') %>
            <form action = "localhost:5000/new" method="post">
                <h4>New Plant Entry</h4>
                <label for ="newPlant">Plant:</label>
                <input type="text" id = "newPlant" name="Plant" required>
                <br>
                <label for ="newGenus">Genus:</label>
                <input type="text" id = "newGenus" name="Genus" required>
                <br>
                <button id="submitBtn" type="submit">Submit</button>
            </form>
        </main>

    </body>
</html>