main{
    background-color: #dcdabc;
    color: darkolivegreen;
    justify-content: center;
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;
    width:100%;
    height:100%;
}
#plantwall{
    border-radius: 20px;
    width: 700px;
    height:auto;
}
#logo{
    width: 100px;
    margin-left:5px;
    margin-right:5px;
    border-radius: 10px;
}
nav{
    background-color:white;
    opacity: 0.8;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 55px;
}

form{
    width: 450px;
    height: 400px;
    justify-content: center;
    border: 2px solid #ca8787;
    border-radius: 50px;
    padding-top:30px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 150px;
}

#newPlant{
    width: 210px;
    border-radius: 10px;
    margin:3px;
}
#newGenus{
    width: 250px;
    border-radius: 10px;
    margin:3px;
}
#newPrice{
    width: 265px;
    border-radius: 10px;
    margin:3px;
}
#submitBtn{
    border-radius: 10px;
    margin: 5px;
}
#submitBtn:hover{
    background-color: #dbb5b5;
}
a {
    font-family: cursive,Arial, Helvetica, sans-serif;
}
a:hover{
    font-weight: bold;
}
#greeting{
    font-family: cursive, Arial, Helvetica, sans-serif;
}

#deleteInput{
    border-radius: 10px;
}

.deleteBtn{
    border-radius: 50%;
}

.deleteBtn:hover{
    border-radius: 10px;
    background-color: pink;
}
#imageForm{
    width:270px;
    height:auto;
    border-radius: 10px;
}